# Airbnb Hotel Data

## Gurgaon data

In [122]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd 
url="https://www.airbnb.co.in/s/Gurgaon-District/homes?place_id=ChIJlYyNFyQYDTkRQzFwSRfgzY4&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=weekend_trip&date_picker_type=FLEXIBLE_DATES&search_type=HOMEPAGE_CAROUSEL_CLICK"
names=[] 
prices=[] 
reviews =[] 
durations=[]
base_url="https://www.airbnb.co.in"
for i in range(1,16):
    r=requests.get(url) 
    # print(r) 
    soup=BeautifulSoup(r.text,"lxml")
    box=soup.find_all("div",class_="g1qv1ctd atm_u80d3j_pqaxnk atm_c8_o7aogt atm_g3_8jkm7i atm_gw_iv6dct c95t3t6 atm_9s_11p5wf0 atm_cx_1mo6erc atm_dz_7esijk atm_e0_1lo05zz dir dir-ltr")
    for s_box in box:
        nam=s_box.find("div",class_="t1jojoys atm_g3_1kw7nm4 atm_ks_15vqwwr atm_sq_1l2sidv atm_9s_cj1kg8 atm_6w_1e54zos atm_fy_1vgr820 atm_7l_hfv0h6 atm_cs_1mexzig atm_w4_1eetg7c atm_ks_zryt35__1rgatj2 dir dir-ltr").text
        if nam:
            names.append(nam)  
        else: 
            names.append(None) 
        pri=s_box.find("span",class_="umg93v9 atm_7l_mhi6a6 atm_cs_80qqwn atm_rd_14k51in atm_cs_l3jtxx__1v156lz dir dir-ltr")
        if pri:
            prices.append(pri.get_text(strip=True))  
        else: 
            prices.append(None)  
        duration=s_box.find("span",class_="q1vzye7p atm_7l_100huhz atm_cs_4gwzjb atm_c8_epp50g atm_g3_e3z31c atm_jb_becq3w atm_ks_abwceb atm_sq_g8k74l dir dir-ltr") 
        if duration:
            durations.append(duration.get_text(strip=True))  
        else:
            durations.append(None)  
        rev=s_box.find("span",class_="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_vv_1q9ccgz atm_vy_t94yts au0q88m atm_mk_stnw88 atm_tk_idpfg4 dir dir-ltr")
        if rev:
            reviews.append(rev.get_text(strip=True)) 
        else: 
            reviews.append(None) 
    box_link=soup.find("a",{"aria-label":"Next"})
    if not box_link:
        print("no next page ")
        break 
    url=base_url+box_link.get("href")
    
df_Gurgaon=pd.DataFrame({"Hotel Name":names, "Price ": prices, "Duration in Price": durations, "Reviews":reviews})
df_Gurgaon

no next page

,Hotel Name,Price,Duration in Price,Reviews
0,Place to stay in Gurugram,"₹5,534",for 2 nights,"5.0 out of 5 average rating, 8 reviews"
1,Bed and breakfast in Gurugram,"₹3,515",for 2 nights,"5.0 out of 5 average rating, 10 reviews"
2,Flat in Gurugram,"₹7,989",for 2 nights,"5.0 out of 5 average rating, 17 reviews"
3,Flat in Gurugram,"₹12,371",for 2 nights,"5.0 out of 5 average rating, 76 reviews"
4,Flat in Gurugram,"₹4,908",for 2 nights,"5.0 out of 5 average rating, 6 reviews"
...,...,...,...,...
265,Farm stay in Gurugram,"₹25,106",for 2 nights,"4.83 out of 5 average rating, 29 reviews"
266,Flat in Gurugram,None,None,"4.81 out of 5 average rating, 31 reviews"
267,Place to stay in New Delhi,"₹3,595",for 2 nights,New place to stay
268,Home in Gurugram,"₹23,828",for 2 nights,New place to stay
269,Flat in Gurugram,"₹14,836",for 2 nights,"4.92 out of 5 average rating, 164 reviews"

#  Gautam Buddha nagar

In [125]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd 
url="https://www.airbnb.co.in/s/Gautam-Buddha-Nagar/homes?place_id=ChIJZc0VBFPkDDkRaCE3BhJhWPQ&refinement_paths%5B%5D=%2Fhomes&date_picker_type=calendar&checkin=2025-11-28&checkout=2025-11-30&query=Gautam%20Buddha%20Nagar&flexible_trip_lengths%5B%5D=one_week&monthly_start_date=2025-12-01&monthly_length=3&monthly_end_date=2026-03-01&price_filter_input_type=2&price_filter_num_nights=2&channel=EXPLORE&pagination_search=true&federated_search_session_id=b354ab9b-b888-4fd2-87ae-f93af0a0daab&cursor=eyJzZWN0aW9uX29mZnNldCI6MCwiaXRlbXNfb2Zmc2V0IjowLCJ2ZXJzaW9uIjoxfQ%3D%3D"
names=[] 
prices=[] 
reviews =[] 
durations=[]
base_url="https://www.airbnb.co.in"
for i in range(1,16):
    r=requests.get(url) 
    # print(r) 
    soup=BeautifulSoup(r.text,"lxml")
    box=soup.find_all("div",class_="g1qv1ctd atm_u80d3j_pqaxnk atm_c8_o7aogt atm_g3_8jkm7i atm_gw_iv6dct c95t3t6 atm_9s_11p5wf0 atm_cx_1mo6erc atm_dz_7esijk atm_e0_1lo05zz dir dir-ltr")
    for s_box in box:
        nam=s_box.find("div",class_="t1jojoys atm_g3_1kw7nm4 atm_ks_15vqwwr atm_sq_1l2sidv atm_9s_cj1kg8 atm_6w_1e54zos atm_fy_1vgr820 atm_7l_hfv0h6 atm_cs_1mexzig atm_w4_1eetg7c atm_ks_zryt35__1rgatj2 dir dir-ltr").text
        if nam:
            names.append(nam)  
        else: 
            names.append(None) 
        pri=s_box.find("span",class_="umg93v9 atm_7l_mhi6a6 atm_cs_80qqwn atm_rd_14k51in atm_cs_l3jtxx__1v156lz dir dir-ltr")
        if pri:
            prices.append(pri.get_text(strip=True))  
        else: 
            prices.append(None)  
        duration=s_box.find("span",class_="q1vzye7p atm_7l_100huhz atm_cs_4gwzjb atm_c8_epp50g atm_g3_e3z31c atm_jb_becq3w atm_ks_abwceb atm_sq_g8k74l dir dir-ltr") 
        if duration:
            durations.append(duration.get_text(strip=True))  
        else:
            durations.append(None)  
        rev=s_box.find("span",class_="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_vv_1q9ccgz atm_vy_t94yts au0q88m atm_mk_stnw88 atm_tk_idpfg4 dir dir-ltr")
        if rev:
            reviews.append(rev.get_text(strip=True)) 
        else: 
            reviews.append(None) 
    box_link=soup.find("a",{"aria-label":"Next"})
    if not box_link:
        print("no next page ")
        break 
    url=base_url+box_link.get("href")
    
df_buddha_nagar=pd.DataFrame({"Hotel Name":names, "Price ": prices, "Duration in Price": durations, "Reviews":reviews})
df_buddha_nagar

no next page

,Hotel Name,Price,Duration in Price,Reviews
0,Home in Noida,"₹14,083",for 2 nights,"4.99 out of 5 average rating, 173 reviews"
1,Flat in Greater Noida,"₹7,415",for 2 nights,"4.96 out of 5 average rating, 26 reviews"
2,Flat in Greater Noida,None,None,"4.85 out of 5 average rating, 20 reviews"
3,Flat in Greater Noida,"₹7,329",for 2 nights,"4.95 out of 5 average rating, 22 reviews"
4,Flat in Noida,"₹9,128",for 2 nights,"5.0 out of 5 average rating, 15 reviews"
...,...,...,...,...
271,Flat in Noida,"₹8,626",for 2 nights,"4.7 out of 5 average rating, 27 reviews"
272,Flat in New Delhi,"₹9,541",for 2 nights,"4.73 out of 5 average rating, 26 reviews"
273,Home in New Delhi,"₹3,649",for 2 nights,"4.87 out of 5 average rating, 69 reviews"
274,Flat in New Delhi,None,None,"4.72 out of 5 average rating, 220 reviews"
275,Farm stay in Noida,"₹34,100",for 2 nights,"4.83 out of 5 average rating, 93 reviews"

# South Delhi

In [128]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd 
url="https://www.airbnb.co.in/s/South-Delhi/homes?place_id=ChIJqX7ja73hDDkRRA9T2LXUAJg&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=weekend_trip&date_picker_type=FLEXIBLE_DATES&search_type=HOMEPAGE_CAROUSEL_CLICK"
names=[] 
prices=[] 
reviews =[] 
durations=[]
base_url="https://www.airbnb.co.in"
for i in range(1,16):
    r=requests.get(url) 
    # print(r) 
    soup=BeautifulSoup(r.text,"lxml")
    box=soup.find_all("div",class_="g1qv1ctd atm_u80d3j_pqaxnk atm_c8_o7aogt atm_g3_8jkm7i atm_gw_iv6dct c95t3t6 atm_9s_11p5wf0 atm_cx_1mo6erc atm_dz_7esijk atm_e0_1lo05zz dir dir-ltr")
    for s_box in box:
        nam=s_box.find("div",class_="t1jojoys atm_g3_1kw7nm4 atm_ks_15vqwwr atm_sq_1l2sidv atm_9s_cj1kg8 atm_6w_1e54zos atm_fy_1vgr820 atm_7l_hfv0h6 atm_cs_1mexzig atm_w4_1eetg7c atm_ks_zryt35__1rgatj2 dir dir-ltr").text
        if nam:
            names.append(nam)  
        else: 
            names.append(None) 
        pri=s_box.find("span",class_="umg93v9 atm_7l_mhi6a6 atm_cs_80qqwn atm_rd_14k51in atm_cs_l3jtxx__1v156lz dir dir-ltr")
        if pri:
            prices.append(pri.get_text(strip=True))  
        else: 
            prices.append(None)  
        duration=s_box.find("span",class_="q1vzye7p atm_7l_100huhz atm_cs_4gwzjb atm_c8_epp50g atm_g3_e3z31c atm_jb_becq3w atm_ks_abwceb atm_sq_g8k74l dir dir-ltr") 
        if duration:
            durations.append(duration.get_text(strip=True))  
        else:
            durations.append(None)  
        rev=s_box.find("span",class_="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_vv_1q9ccgz atm_vy_t94yts au0q88m atm_mk_stnw88 atm_tk_idpfg4 dir dir-ltr")
        if rev:
            reviews.append(rev.get_text(strip=True)) 
        else: 
            reviews.append(None) 
    box_link=soup.find("a",{"aria-label":"Next"})
    if not box_link:
        print("no next page ")
        break 
    url=base_url+box_link.get("href")
    
df_south_delhi=pd.DataFrame({"Hotel Name":names, "Price ": prices, "Duration in Price": durations, "Reviews":reviews})
df_south_delhi

no next page

,Hotel Name,Price,Duration in Price,Reviews
0,Apartment in Mehrauli,"₹47,496",for 2 nights,"4.87 out of 5 average rating, 123 reviews"
1,Home in Lajpat Nagar,"₹9,130",for 2 nights,"4.83 out of 5 average rating, 92 reviews"
2,Tiny home in Saket,None,None,"4.88 out of 5 average rating, 66 reviews"
3,Flat in New Delhi,"₹3,696",for 2 nights,New place to stay
4,Room in East of Kailash,"₹8,331",for 2 nights,"5.0 out of 5 average rating, 26 reviews"
...,...,...,...,...
265,Flat in New Delhi,"₹20,336",for 2 nights,"4.76 out of 5 average rating, 76 reviews"
266,Apartment in New Delhi,"₹6,400",for 2 nights,"4.89 out of 5 average rating, 95 reviews"
267,Apartment in New Delhi,None,None,"4.86 out of 5 average rating, 144 reviews"
268,Flat in New Delhi,"₹13,466",for 2 nights,"4.88 out of 5 average rating, 24 reviews"
269,Farm stay in New Delhi,"₹22,822",for 2 nights,"5.0 out of 5 average rating, 27 reviews"

# Dehradun

In [131]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd 
url="https://www.airbnb.co.in/s/Dehradun/homes?place_id=ChIJzZKoP7gkCTkR4sTANjukDKw&refinement_paths%5B%5D=%2Fhomes&date_picker_type=CALENDAR&checkin=2025-11-28&checkout=2025-11-30&search_type=HOMEPAGE_CAROUSEL_CLICK"
names=[] 
prices=[] 
reviews =[] 
durations=[]
base_url="https://www.airbnb.co.in"
for i in range(1,16):
    r=requests.get(url) 
    # print(r) 
    soup=BeautifulSoup(r.text,"lxml")
    box=soup.find_all("div",class_="g1qv1ctd atm_u80d3j_pqaxnk atm_c8_o7aogt atm_g3_8jkm7i atm_gw_iv6dct c95t3t6 atm_9s_11p5wf0 atm_cx_1mo6erc atm_dz_7esijk atm_e0_1lo05zz dir dir-ltr")
    for s_box in box:
        nam=s_box.find("div",class_="t1jojoys atm_g3_1kw7nm4 atm_ks_15vqwwr atm_sq_1l2sidv atm_9s_cj1kg8 atm_6w_1e54zos atm_fy_1vgr820 atm_7l_hfv0h6 atm_cs_1mexzig atm_w4_1eetg7c atm_ks_zryt35__1rgatj2 dir dir-ltr").text
        if nam:
            names.append(nam)  
        else: 
            names.append(None) 
        pri=s_box.find("span",class_="umg93v9 atm_7l_mhi6a6 atm_cs_80qqwn atm_rd_14k51in atm_cs_l3jtxx__1v156lz dir dir-ltr")
        if pri:
            prices.append(pri.get_text(strip=True))  
        else: 
            prices.append(None)  
        duration=s_box.find("span",class_="q1vzye7p atm_7l_100huhz atm_cs_4gwzjb atm_c8_epp50g atm_g3_e3z31c atm_jb_becq3w atm_ks_abwceb atm_sq_g8k74l dir dir-ltr") 
        if duration:
            durations.append(duration.get_text(strip=True))  
        else:
            durations.append(None)  
        rev=s_box.find("span",class_="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_vv_1q9ccgz atm_vy_t94yts au0q88m atm_mk_stnw88 atm_tk_idpfg4 dir dir-ltr")
        if rev:
            reviews.append(rev.get_text(strip=True)) 
        else: 
            reviews.append(None) 
    box_link=soup.find("a",{"aria-label":"Next"})
    if not box_link:
        print("no next page ")
        break 
    url=base_url+box_link.get("href")
    
df_dehradun=pd.DataFrame({"Hotel Name":names, "Price ": prices, "Duration in Price": durations, "Reviews":reviews})
df_dehradun

no next page

,Hotel Name,Price,Duration in Price,Reviews
0,Home in Dehradun,"₹6,619",for 2 nights,"5.0 out of 5 average rating, 16 reviews"
1,Flat in Malsi,None,None,"4.91 out of 5 average rating, 34 reviews"
2,Flat in Malsi,"₹4,506",for 2 nights,"4.89 out of 5 average rating, 89 reviews"
3,Villa in Rajpur,None,None,"4.83 out of 5 average rating, 161 reviews"
4,Flat in Dehradun,"₹3,995",for 2 nights,"4.8 out of 5 average rating, 5 reviews"
...,...,...,...,...
271,Room in Dhanaulti,"₹10,591",for 2 nights,"4.75 out of 5 average rating, 12 reviews"
272,Villa in Dehradun,None,None,"4.68 out of 5 average rating, 74 reviews"
273,Earthen home in Dehradun,"₹5,500",for 2 nights,"4.31 out of 5 average rating, 42 reviews"
274,Flat in Dehradun,None,None,New place to stay
275,Place to stay in Dhanaulti,"₹10,385",for 2 nights,"4.71 out of 5 average rating, 62 reviews"

# Jaipur

In [134]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd 
url="https://www.airbnb.co.in/s/Jaipur/homes?place_id=ChIJKf5VgBy0bTkRHPupZ20H8oQ&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=weekend_trip&date_picker_type=FLEXIBLE_DATES&search_type=HOMEPAGE_CAROUSEL_CLICK"
names=[] 
prices=[] 
reviews =[] 
durations=[]
base_url="https://www.airbnb.co.in"
for i in range(1,16):
    r=requests.get(url) 
    # print(r) 
    soup=BeautifulSoup(r.text,"lxml")
    box=soup.find_all("div",class_="g1qv1ctd atm_u80d3j_pqaxnk atm_c8_o7aogt atm_g3_8jkm7i atm_gw_iv6dct c95t3t6 atm_9s_11p5wf0 atm_cx_1mo6erc atm_dz_7esijk atm_e0_1lo05zz dir dir-ltr")
    for s_box in box:
        nam=s_box.find("div",class_="t1jojoys atm_g3_1kw7nm4 atm_ks_15vqwwr atm_sq_1l2sidv atm_9s_cj1kg8 atm_6w_1e54zos atm_fy_1vgr820 atm_7l_hfv0h6 atm_cs_1mexzig atm_w4_1eetg7c atm_ks_zryt35__1rgatj2 dir dir-ltr").text
        if nam:
            names.append(nam)  
        else: 
            names.append(None) 
        pri=s_box.find("span",class_="umg93v9 atm_7l_mhi6a6 atm_cs_80qqwn atm_rd_14k51in atm_cs_l3jtxx__1v156lz dir dir-ltr")
        if pri:
            prices.append(pri.get_text(strip=True))  
        else: 
            prices.append(None)  
        duration=s_box.find("span",class_="q1vzye7p atm_7l_100huhz atm_cs_4gwzjb atm_c8_epp50g atm_g3_e3z31c atm_jb_becq3w atm_ks_abwceb atm_sq_g8k74l dir dir-ltr") 
        if duration:
            durations.append(duration.get_text(strip=True))  
        else:
            durations.append(None)  
        rev=s_box.find("span",class_="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_vv_1q9ccgz atm_vy_t94yts au0q88m atm_mk_stnw88 atm_tk_idpfg4 dir dir-ltr")
        if rev:
            reviews.append(rev.get_text(strip=True)) 
        else: 
            reviews.append(None) 
    box_link=soup.find("a",{"aria-label":"Next"})
    if not box_link:
        print("no next page ")
        break 
    url=base_url+box_link.get("href")
    
df_jaipur=pd.DataFrame({"Hotel Name":names, "Price ": prices, "Duration in Price": durations, "Reviews":reviews})
df_jaipur

no next page

,Hotel Name,Price,Duration in Price,Reviews
0,Home in Jawahar Nagar,"₹8,374",for 2 nights,"4.93 out of 5 average rating, 90 reviews"
1,Apartment in Jaipur,"₹5,478",for 2 nights,"5.0 out of 5 average rating, 3 reviews"
2,Flat in Jaipur,None,None,"5.0 out of 5 average rating, 28 reviews"
3,Home in Ram Nagar,"₹3,819",for 2 nights,"5.0 out of 5 average rating, 24 reviews"
4,Apartment in Jaipur,"₹7,018",for 2 nights,"5.0 out of 5 average rating, 35 reviews"
...,...,...,...,...
265,Flat in Jaipur,"₹28,000",for 2 nights,"4.57 out of 5 average rating, 28 reviews"
266,Home in Jawahar Nagar,None,None,"4.96 out of 5 average rating, 25 reviews"
267,Flat in Vaishali Nagar,"₹7,989",for 2 nights,"4.76 out of 5 average rating, 38 reviews"
268,Room in Hathroi,"₹5,136",for 2 nights,"4.9 out of 5 average rating, 49 reviews"
269,Room in Johari Bazar,"₹6,939",for 2 nights,"4.82 out of 5 average rating, 71 reviews"

# South Goa

In [137]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd 
url="https://www.airbnb.co.in/s/South-Goa/homes?place_id=ChIJixLkOu6zvzsRgGFikAr04_w&refinement_paths%5B%5D=%2Fhomes&date_picker_type=FLEXIBLE_DATES&flexible_trip_lengths%5B%5D=WEEKEND_TRIP&flexible_trip_dates%5B%5D=december&search_type=HOMEPAGE_CAROUSEL_CLICK"
names=[] 
prices=[] 
reviews =[] 
durations=[]
base_url="https://www.airbnb.co.in"
for i in range(1,16):
    r=requests.get(url) 
    # print(r) 
    soup=BeautifulSoup(r.text,"lxml")
    box=soup.find_all("div",class_="g1qv1ctd atm_u80d3j_pqaxnk atm_c8_o7aogt atm_g3_8jkm7i atm_gw_iv6dct c95t3t6 atm_9s_11p5wf0 atm_cx_1mo6erc atm_dz_7esijk atm_e0_1lo05zz dir dir-ltr")
    for s_box in box:
        nam=s_box.find("div",class_="t1jojoys atm_g3_1kw7nm4 atm_ks_15vqwwr atm_sq_1l2sidv atm_9s_cj1kg8 atm_6w_1e54zos atm_fy_1vgr820 atm_7l_hfv0h6 atm_cs_1mexzig atm_w4_1eetg7c atm_ks_zryt35__1rgatj2 dir dir-ltr").text
        if nam:
            names.append(nam)  
        else: 
            names.append(None) 
        pri=s_box.find("span",class_="umg93v9 atm_7l_mhi6a6 atm_cs_80qqwn atm_rd_14k51in atm_cs_l3jtxx__1v156lz dir dir-ltr")
        if pri:
            prices.append(pri.get_text(strip=True))  
        else: 
            prices.append(None)  
        duration=s_box.find("span",class_="q1vzye7p atm_7l_100huhz atm_cs_4gwzjb atm_c8_epp50g atm_g3_e3z31c atm_jb_becq3w atm_ks_abwceb atm_sq_g8k74l dir dir-ltr") 
        if duration:
            durations.append(duration.get_text(strip=True))  
        else:
            durations.append(None)  
        rev=s_box.find("span",class_="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_vv_1q9ccgz atm_vy_t94yts au0q88m atm_mk_stnw88 atm_tk_idpfg4 dir dir-ltr")
        if rev:
            reviews.append(rev.get_text(strip=True)) 
        else: 
            reviews.append(None) 
    box_link=soup.find("a",{"aria-label":"Next"})
    if not box_link:
        print("no next page ")
        break 
    url=base_url+box_link.get("href")
    
df_south_goa=pd.DataFrame({"Hotel Name":names, "Price ": prices, "Duration in Price": durations, "Reviews":reviews})
df_south_goa

no next page

,Hotel Name,Price,Duration in Price,Reviews
0,Flat in Varca,"₹11,000",for 2 nights,"5.0 out of 5 average rating, 4 reviews"
1,Flat in South Goa,"₹12,553",for 2 nights,"5.0 out of 5 average rating, 43 reviews"
2,Flat in Benaulim,"₹9,700",for 2 nights,"4.89 out of 5 average rating, 111 reviews"
3,Resort in Canacona,"₹10,886",for 2 nights,"4.81 out of 5 average rating, 139 reviews"
4,Apartment in Canacona,"₹7,361",for 2 nights,"4.89 out of 5 average rating, 220 reviews"
...,...,...,...,...
265,Home in North Goa,"₹7,989",for 2 nights,"4.74 out of 5 average rating, 74 reviews"
266,Room in Margao,"₹3,196",for 2 nights,"4.82 out of 5 average rating, 159 reviews"
267,Apartment in Marra,None,None,"4.96 out of 5 average rating, 23 reviews"
268,Flat in Colva,"₹17,118",for 2 nights,"4.93 out of 5 average rating, 27 reviews"
269,Apartment in Candolim,None,None,"4.94 out of 5 average rating, 53 reviews"

# North Goa

In [140]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd 
url="https://www.airbnb.co.in/s/North-Goa/homes?place_id=ChIJMaD6Uu3AvzsR0E3VfowKzRs&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=weekend_trip&date_picker_type=FLEXIBLE_DATES&search_type=HOMEPAGE_CAROUSEL_CLICK"
names=[] 
prices=[] 
reviews =[] 
durations=[]
base_url="https://www.airbnb.co.in"
for i in range(1,16):
    r=requests.get(url) 
    # print(r) 
    soup=BeautifulSoup(r.text,"lxml")
    box=soup.find_all("div",class_="g1qv1ctd atm_u80d3j_pqaxnk atm_c8_o7aogt atm_g3_8jkm7i atm_gw_iv6dct c95t3t6 atm_9s_11p5wf0 atm_cx_1mo6erc atm_dz_7esijk atm_e0_1lo05zz dir dir-ltr")
    for s_box in box:
        nam=s_box.find("div",class_="t1jojoys atm_g3_1kw7nm4 atm_ks_15vqwwr atm_sq_1l2sidv atm_9s_cj1kg8 atm_6w_1e54zos atm_fy_1vgr820 atm_7l_hfv0h6 atm_cs_1mexzig atm_w4_1eetg7c atm_ks_zryt35__1rgatj2 dir dir-ltr").text
        if nam:
            names.append(nam)  
        else: 
            names.append(None) 
        pri=s_box.find("span",class_="umg93v9 atm_7l_mhi6a6 atm_cs_80qqwn atm_rd_14k51in atm_cs_l3jtxx__1v156lz dir dir-ltr")
        if pri:
            prices.append(pri.get_text(strip=True))  
        else: 
            prices.append(None)  
        duration=s_box.find("span",class_="q1vzye7p atm_7l_100huhz atm_cs_4gwzjb atm_c8_epp50g atm_g3_e3z31c atm_jb_becq3w atm_ks_abwceb atm_sq_g8k74l dir dir-ltr") 
        if duration:
            durations.append(duration.get_text(strip=True))  
        else:
            durations.append(None)  
        rev=s_box.find("span",class_="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_vv_1q9ccgz atm_vy_t94yts au0q88m atm_mk_stnw88 atm_tk_idpfg4 dir dir-ltr")
        if rev:
            reviews.append(rev.get_text(strip=True)) 
        else: 
            reviews.append(None) 
    box_link=soup.find("a",{"aria-label":"Next"})
    if not box_link:
        print("no next page ")
        break 
    url=base_url+box_link.get("href")
    
df_north_goa=pd.DataFrame({"Hotel Name":names, "Price ": prices, "Duration in Price": durations, "Reviews":reviews})
df_north_goa

no next page

,Hotel Name,Price,Duration in Price,Reviews
0,Flat in Vagator,"₹10,271",for 2 nights,"5.0 out of 5 average rating, 27 reviews"
1,Flat in Arpora,None,None,"5.0 out of 5 average rating, 69 reviews"
2,Villa in Anjuna,"₹5,600",for 2 nights,New place to stay
3,Room in North Goa,"₹3,196",for 2 nights,"4.95 out of 5 average rating, 38 reviews"
4,Apartment in Candolim,"₹6,848",for 2 nights,"4.96 out of 5 average rating, 57 reviews"
...,...,...,...,...
265,Flat in Anjuna,"₹11,412",for 2 nights,"4.84 out of 5 average rating, 31 reviews"
266,Flat in North Goa,"₹6,850",for 2 nights,"4.86 out of 5 average rating, 14 reviews"
267,Apartment in Anjuna,"₹14,998",for 2 nights,"5.0 out of 5 average rating, 9 reviews"
268,Home in Parra,None,None,"4.8 out of 5 average rating, 54 reviews"
269,Flat in Nerul,None,None,"4.95 out of 5 average rating, 20 reviews"

# South East Delhi

In [143]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd 
url="https://www.airbnb.co.in/s/South-East-Delhi/homes?place_id=ChIJS4hIU-HjDDkRXIlXK_BYZAs&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=weekend_trip&date_picker_type=FLEXIBLE_DATES&search_type=HOMEPAGE_CAROUSEL_CLICK"
names=[] 
prices=[] 
reviews =[] 
durations=[]
base_url="https://www.airbnb.co.in"
for i in range(1,16):
    r=requests.get(url) 
    # print(r) 
    soup=BeautifulSoup(r.text,"lxml")
    box=soup.find_all("div",class_="g1qv1ctd atm_u80d3j_pqaxnk atm_c8_o7aogt atm_g3_8jkm7i atm_gw_iv6dct c95t3t6 atm_9s_11p5wf0 atm_cx_1mo6erc atm_dz_7esijk atm_e0_1lo05zz dir dir-ltr")
    for s_box in box:
        nam=s_box.find("div",class_="t1jojoys atm_g3_1kw7nm4 atm_ks_15vqwwr atm_sq_1l2sidv atm_9s_cj1kg8 atm_6w_1e54zos atm_fy_1vgr820 atm_7l_hfv0h6 atm_cs_1mexzig atm_w4_1eetg7c atm_ks_zryt35__1rgatj2 dir dir-ltr").text
        if nam:
            names.append(nam)  
        else: 
            names.append(None) 
        pri=s_box.find("span",class_="umg93v9 atm_7l_mhi6a6 atm_cs_80qqwn atm_rd_14k51in atm_cs_l3jtxx__1v156lz dir dir-ltr")
        if pri:
            prices.append(pri.get_text(strip=True))  
        else: 
            prices.append(None)  
        duration=s_box.find("span",class_="q1vzye7p atm_7l_100huhz atm_cs_4gwzjb atm_c8_epp50g atm_g3_e3z31c atm_jb_becq3w atm_ks_abwceb atm_sq_g8k74l dir dir-ltr") 
        if duration:
            durations.append(duration.get_text(strip=True))  
        else:
            durations.append(None)  
        rev=s_box.find("span",class_="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_vv_1q9ccgz atm_vy_t94yts au0q88m atm_mk_stnw88 atm_tk_idpfg4 dir dir-ltr")
        if rev:
            reviews.append(rev.get_text(strip=True)) 
        else: 
            reviews.append(None) 
    box_link=soup.find("a",{"aria-label":"Next"})
    if not box_link:
        print("no next page ")
        break 
    url=base_url+box_link.get("href")
    
df_south_east_delhi=pd.DataFrame({"Hotel Name":names, "Price ": prices, "Duration in Price": durations, "Reviews":reviews})
df_south_east_delhi

no next page

,Hotel Name,Price,Duration in Price,Reviews
0,Flat in East of Kailash,None,None,"4.8 out of 5 average rating, 162 reviews"
1,Home in Lajpat Nagar,"₹9,130",for 2 nights,"4.83 out of 5 average rating, 92 reviews"
2,Place to stay in New Delhi,"₹3,926",for 2 nights,New place to stay
3,Place to stay in Greater Kailash,"₹5,932",for 2 nights,"5.0 out of 5 average rating, 13 reviews"
4,Room in East of Kailash,"₹8,331",for 2 nights,"5.0 out of 5 average rating, 26 reviews"
...,...,...,...,...
265,Apartment in New Delhi,"₹14,991",for 2 nights,"4.75 out of 5 average rating, 32 reviews"
266,Room in New Delhi,"₹9,130",for 2 nights,"4.9 out of 5 average rating, 31 reviews"
267,Room in Noida,"₹4,268",for 2 nights,"4.93 out of 5 average rating, 29 reviews"
268,Flat in New Delhi,None,None,None
269,Flat in New Delhi,"₹9,815",for 2 nights,"4.88 out of 5 average rating, 408 reviews"

# Ghaziabad

In [145]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd 
url="https://www.airbnb.co.in/s/Ghaziabad/homes?place_id=ChIJBcaGTMvxDDkRJ-8yMq3zM3s&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=weekend_trip&date_picker_type=FLEXIBLE_DATES&search_type=HOMEPAGE_CAROUSEL_CLICK"
names=[] 
prices=[] 
reviews =[] 
durations=[]
base_url="https://www.airbnb.co.in"
for i in range(1,16):
    r=requests.get(url) 
    # print(r) 
    soup=BeautifulSoup(r.text,"lxml")
    box=soup.find_all("div",class_="g1qv1ctd atm_u80d3j_pqaxnk atm_c8_o7aogt atm_g3_8jkm7i atm_gw_iv6dct c95t3t6 atm_9s_11p5wf0 atm_cx_1mo6erc atm_dz_7esijk atm_e0_1lo05zz dir dir-ltr")
    for s_box in box:
        nam=s_box.find("div",class_="t1jojoys atm_g3_1kw7nm4 atm_ks_15vqwwr atm_sq_1l2sidv atm_9s_cj1kg8 atm_6w_1e54zos atm_fy_1vgr820 atm_7l_hfv0h6 atm_cs_1mexzig atm_w4_1eetg7c atm_ks_zryt35__1rgatj2 dir dir-ltr").text
        if nam:
            names.append(nam)  
        else: 
            names.append(None) 
        pri=s_box.find("span",class_="umg93v9 atm_7l_mhi6a6 atm_cs_80qqwn atm_rd_14k51in atm_cs_l3jtxx__1v156lz dir dir-ltr")
        if pri:
            prices.append(pri.get_text(strip=True))  
        else: 
            prices.append(None)  
        duration=s_box.find("span",class_="q1vzye7p atm_7l_100huhz atm_cs_4gwzjb atm_c8_epp50g atm_g3_e3z31c atm_jb_becq3w atm_ks_abwceb atm_sq_g8k74l dir dir-ltr") 
        if duration:
            durations.append(duration.get_text(strip=True))  
        else:
            durations.append(None)  
        rev=s_box.find("span",class_="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_vv_1q9ccgz atm_vy_t94yts au0q88m atm_mk_stnw88 atm_tk_idpfg4 dir dir-ltr")
        if rev:
            reviews.append(rev.get_text(strip=True)) 
        else: 
            reviews.append(None) 
    box_link=soup.find("a",{"aria-label":"Next"})
    if not box_link:
        print("no next page ")
        break 
    url=base_url+box_link.get("href")
    
df_ghazibad=pd.DataFrame({"Hotel Name":names, "Price ": prices, "Duration in Price": durations, "Reviews":reviews})
df_ghazibad

no next page

,Hotel Name,Price,Duration in Price,Reviews
0,Flat in Ghaziabad,"₹3,082",for 2 nights,"4.97 out of 5 average rating, 33 reviews"
1,Flat in Ghaziabad,"₹4,835",for 2 nights,"5.0 out of 5 average rating, 33 reviews"
2,Flat in Ghaziabad,None,None,"4.6 out of 5 average rating, 5 reviews"
3,Villa in Ghaziabad,"₹9,267",for 2 nights,"4.98 out of 5 average rating, 52 reviews"
4,Flat in Ghaziabad,"₹5,266",for 2 nights,"5.0 out of 5 average rating, 19 reviews"
...,...,...,...,...
265,Flat in New Delhi,"₹2,968",for 2 nights,"4.8 out of 5 average rating, 20 reviews"
266,Place to stay in Ghaziabad,"₹2,518",for 2 nights,New place to stay
267,Flat in New Delhi,"₹10,499",for 2 nights,"4.91 out of 5 average rating, 93 reviews"
268,Flat in New Delhi,"₹19,401",for 2 nights,"4.99 out of 5 average rating, 72 reviews"
269,Place to stay in Noida,"₹2,761",for 2 nights,New place to stay

In [151]:
with pd.ExcelWriter("Hotel_Data_of_Different_Place.xlsx")as writer:
    df_Gurgaon.to_excel(writer ,sheet_name="Gurgaon", index=False),
    df_buddha_nagar.to_excel(writer ,sheet_name="Buddha Nagar", index=False),
    df_south_delhi.to_excel(writer ,sheet_name="South Delhi", index=False),
    df_dehradun.to_excel(writer ,sheet_name="Dehradun", index=False),
    df_jaipur.to_excel(writer ,sheet_name="Jaipur", index=False),
    df_south_goa.to_excel(writer ,sheet_name="south goa", index=False),
    df_north_goa.to_excel(writer ,sheet_name="north goa ", index=False),
    df_south_east_delhi.to_excel(writer ,sheet_name="South East Delhi", index=False),
    df_ghazibad.to_excel(writer ,sheet_name="Ghaziabad", index=False)